/* Global styling */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #212529;
    position: relative;
}

.social-icons {
    padding: 0 15px;
    float: right;
}

.btn-primary {
    color: #fff;
    background-color: #01314e;
    border-color: #01314e;
}

.image-hover-wrapper {
    position: relative;
    height: 210px;

    :hover {
        .image-hover-secondary {
            opacity: 1;
        }
    }

    .image-hover-secondary {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        object-fit: contain;
        opacity: 0;
        transition: opacity .5s;
        z-index: 999;
    }
}


/* Element styling */

.navbar-dark {
    background-color: #01314E !important;

    a {
        color: #fff !important;
    }

    .navbar-toggler {
        border: 1px solid #01314E;
    }

    #search {
        .form-control {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            background-color: #01314E;
            border-color: #01314E;
        }
    }
}

main {
    section {
        padding: 100px 50px;

        hr {
            max-width: 200px;
            border-top: 3px solid #01314E;
            margin-left: 0;
        }

        .products-wrapper {
            img {
                width: 100%;
            }

            h3 {
                font-size: 16px;
                font-weight: normal;
            }

            a {
                color: #000;
                text-decoration: none;
            }

            .row {
                padding-top: 15px;
                padding-bottom: 15px;
            }

            .card {
                border-radius: 5px;
                overflow: hidden;
            }

            .price {
                font-weight: bold;
            }

            button {
                border-radius: 5px;
                margin-top: 10px;
                background-color: #d9a13c;
                border: 0;
                color: #fff;
                padding: 5px 20px;
                display: block;
                width: 100%;
                transition: background-color .5s;
            }

            button:hover {
                background-color: #01314E;
            }
        }
    }
}

footer {
    background-color: #01314e;
    color: #ffffff;
    text-align: center;
    padding: 50px;
    font-size: 15px;

    .site-logo {
        height: 250px;
    }

    #formContainer {
        position: relative;

        .btn-primary {
            position: absolute;
            z-index: 999;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            height: 48px;
            width: 100px;
            border: 2px solid #fff;
        }
    }

    #copyright {
        padding-top: 40px;
    }
}